.track-container {
    font-family: 'Unbounded', sans-serif;
    margin-top: 10rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.track-content {
    width: 90%;
    height: 90%;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.track-title {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.3;
}

.track-title-highlight {
    color: #2563EB;
}

.track-steps {
    margin-top: 2.5rem;
}

.track-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.track-item {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
}

.track-number {
    color: #2563EB;
    font-size: 3rem;
    min-width: 3.5rem;
}

.track-details {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.track-step-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.track-step-description {
    font-size: 1.25rem;
    line-height: 1.4;
}

.track-divider {
    width: 0;
    height: 3.5rem;
    border-left: 1px solid #000;
    margin-left: 1.6rem;
}