.variable-container {
    background-color: #2563EB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded', sans-serif;
    color: white;
    height: auto;
    margin-top: 6rem;
    padding-bottom: 5rem;
}

.variable-content {
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2.25rem;
    gap: 1.25rem;
}

.variable-title {
    margin-top: 3.75rem;
    line-height: 1.3;
}

.variable-cards {
    display: flex;
    gap: 2.5rem;
    width: 100%;
}

.variable-card {
    position: relative;
    height: 400px;
    background-color: #2f6ced;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5.3125rem;
    width: 33%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding-bottom: 3.75rem;
}

.card-bg-number {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 140px;
    opacity: 0.5;
    width: 100%;
    height: 150px;
    color: #C3DCF980;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-main-title {
    z-index: 1;
    font-size: 1.875rem;
    margin-top: 10rem;
    font-weight: bold;
}

.card-main-text {
    font-size: 1.25rem;
    line-height: 1.4;
    padding: 0 1rem;
}