.what-container {
    background-color: #2563EB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Unbounded', sans-serif;
    color: white;
    padding-bottom: 6rem;
    height: auto;
}

.what-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-content {
    width: 100%;
    max-width: 80rem;
    height: 1243px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.75rem;
}

.what-cards-section {
    width: 47%;
    height: 70%;
    background-color: #2f6ced;
    border-radius: 1.5rem;
    border: 1px solid #447aec;
    box-shadow: 0 25px 50px -12px #2054c5;
}

.what-section-title {
    text-align: center;
    width: 80%;
    font-weight: bold;
    font-size: 28px;
}

.what-cards-grid {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.gap-5px {
    gap: 5px;
}

.what-card {
    width: 90px;
    height: 130px;
}

.what-cards-benefits {
    font-size: 22px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2.5rem;
}

.what-benefits-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style-type: disc;
    font-weight: normal;
    width: 100%;
}

.what-right-section {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.what-ai-section {
    width: 100%;
    height: 70%;
    background-color: #2f6ced;
    border: 1px solid #447aec;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px #2054c5;
}

.what-ai-title {
    font-size: 28px;
    text-align: center;
    line-height: 1.3;
}

.what-ai-content {
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.what-ai-list {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-ai-benefits {
    list-style-type: decimal;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.what-game-section {
    width: 100%;
    height: 30%;
    background-color: #2f6ced;
    border: 1px solid #447aec;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px #2054c5;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.what-community-section {
    width: 100%;
    height: 27%;
    border-radius: 1.5rem;
    background-color: #2f6ced;
    border: 1px solid #447aec;
    box-shadow: 0 25px 50px -12px #2054c5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-50percent {
    width: 50%;
}

.what-community-title {
    font-size: 1.5rem;
    width: 80%;
    font-weight: bold;
    line-height: 1.3;
}

.what-community-benefits {
    font-size: 18px;
    width: 80%;
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.what-community-right {
    width: 50%;
    height: 80%;
}

.what-community-right img {
    margin-left:  7rem;
    height: 100%;
    border-radius: 1.5rem;
}