.trust-container {
    font-family: 'Unbounded', sans-serif;
}

.trust-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 120px;
}

.trust-slider {
    margin-top: 2.5rem;
}

.logo-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 1rem;
    gap: 45px;
}

.logo-image {
    filter: grayscale(100%);
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.trust-stats {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 67px;
    justify-content: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    position: relative;
}

.middle-stat {
    position: relative;
}

.middle-stat::before {
    content: url('./assets/breakingLine.svg');
    position: absolute;
    left: -1.25rem;
}

.middle-stat::after {
    content: url('./assets/breakingLine.svg');
    position: absolute;
    right: -1.25rem;
}

.stat-text {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
    width: 80%;
    line-height: 1.3;
}