.config-container {
    background-color: #2563EB;
    border-radius: 20px;
    padding: 50px;
    margin-top: 5rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Unbounded', sans-serif;
}

.config-tag {
    color: rgba(255, 255, 255, 0.7);
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    font-size: 10px;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.config-title {
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.config-description {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.25rem;
}

.config-desc-text {
    font-size: 1rem;
    line-height: 1.4;
}

.config-cards {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.config-card {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.config-card-content {
    flex: 1;
}

.config-card-title {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.3;
}

.config-card-price {
    color: white;
    font-size: 1.875rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.config-card-subtitle {
    color: white;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    line-height: 1.4;
}

.config-card-features {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style-type: disc;
    margin-left: 1.25rem;
    margin-top: 1.5rem;
    color: white;
    font-size: 0.9375rem;
    line-height: 1.4;
}

.config-card-button {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 0.5rem;
    color: white;
    background-color: transparent;
    font-family: 'Unbounded', sans-serif;
}

.config-card-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 1024px) {
    .config-description {
        flex-direction: row;
    }
    
    .config-desc-text {
        max-width: 48%;
    }
    
    .config-cards {
        flex-direction: row;
    }
}