.quote-container {
    margin-top: 3.75rem;
    min-height: 22.5rem;
    background-color: #2563EB;
    border-radius: 1.5rem;
    display: flex;
    color: white;
    font-family: 'Unbounded', sans-serif;
}

.quote-photo {
    width: 25%;
    position: relative;
}

.quote-photo img {
    position: absolute;
    left: 2rem;
    top: 2rem;
    max-height: 23.75rem;
    max-width: 19.75rem;
    border-radius: 1.5rem;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}

.quote-text {
    text-align: start;
    font-size: 1.25rem;
    line-height: 1.4;
}

.quote-author {
    text-align: start;
    width: 100%;
}

.author-name {
    font-size: 1.875rem;
}

.author-title {
    font-size: 1.25rem;
}