
.header {
    display: flex;
    justify-content: center;
    background-color: #2563EB;
    color: #E2E8F0;
    font-family: 'Unbounded', sans-serif;
    width: 100vw;
    height: 60px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: normal;
    height: 100%;
    max-width: 80rem; 
    width: 100%;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav-item {
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: 1rem;
}

.nav-item:hover {
    color: white;
}

.demo-button {
    background-color: #FAFAFA;
    color: #2563EB;
    border-radius: 16px;
    width: 10%;
    height: 50%;
    border: none;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
    transition: background-color 0.2s ease;
}

.demo-button:hover {
    background-color: #F0F0F0;
}