@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

#root {
    width: 100vw;
}

html {
    background-color: #f2f6ff;
    overflow-x: hidden;
    line-height: 1;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

address {
    font-style: normal;
}



input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type="file"] {
    max-width: 100%;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.main-content {
    width: 100vw;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 80rem;
}